/*dei apelidos para cada item*/
#item_1{ grid-area: card1;}
#item_2{ grid-area: card2;}
#item_3{ grid-area: card3;}
#item_4{ grid-area: card4;}
#item_5{ grid-area: card5;}
#item_6{ grid-area: card6;}

/*comecei a programar para ficar com o grid*/
#ferramentas{
    display: grid;
    grid-template-areas: /*coloquei o grid template area e os separei*/
    "card1 card2 card3"
    "card4 card5 card6";
    gap: 7px;
    text-align: center;
}

/*coloquei cor e borda nas divs*/
#ferramentas .avisos{ 
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .eventos{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .organizacao{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .calendario{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .planos{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(191, 191, 191);
    border-radius: 15px;
}

#ferramentas .compartilhamento{
    background-color: rgb(167, 92, 237);
    border: 4px solid rgb(177, 177, 177);
    border-radius: 15px;
}

/*arrumei o tamanho de todas elas*/
#img_avisos{
    max-width: 50px;
    margin: 15px;
}

/*adicionei o hover em todas e adicionei tambem o display block para o paragrafo voltar*/
#item_1:hover p{
  display: block;
  text-align: center;
}

#img_eventos{
    max-width: 50px;
    margin: 15px;
}

#item_2:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_organizacao{
    max-width: 50px;
    margin: 15px;
}

#item_3:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_calendario{
    max-width: 50px;
    margin: 15px;
}

#item_4:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

#img_planos{
    max-width: 50px;
    margin: 15px;
}

#item_5:hover p{
    display: block;
    text-align: center;
    height: 10px;

  }

#img_compartilhamento{
    max-width: 50px;
    margin: 15px;
}

#item_6:hover p{
    display: block;
    text-align: center;
    height: 10px;
  }

  /*arrumei o tamanho,o padding e a fonte da legenda */
legend{
    font-size: 15px;
    font-family: verdana;
    padding-bottom: 10px;
}
/*arrumei o tamanho e o display para ela sumir*/
.paragrafo{
    font-size: 15px;
    display: none;
}

body{
  /*  background-image:url(./imgcerta.png);*/
  /*background-color: rgb(255, 255, 255);*/
    background-size: 100%;
    color: white;
}

/*início do sobre*/


/*arrumando a section class sobre*/
.sobre{ 
    background-color: rgba(20, 20, 81, 0.73);
    display: flex;
    max-width: 900px;
    margin-left: 300px;
    /*border: 10px solid rgba(231, 219, 255, 0.549);*/
   border-radius: 7px;
}

/*h1 class top_1*/
.top_1{ 
text-align: center;
font-size: 30px;
color: rgb(217, 221, 255);
}

/* parágrafo dos textos*/
.texto_sobre{
font-size: 20px;
color: rgb(186, 194, 254);
padding-top: 20px;
}

/*tamanho da imagem logo*/
#imagem_sobre{ 
 height: 500px;
 width: 500px;
}

/*div dos p e h1*/
.texto_top_1{ 
padding-top: 50px;
padding-right:70px;
}





/*início header lista*/


/*ul class*/
.menu_ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 500px;
}

/*nav class*/
.menu{
    display: flex;  

}

/*figure class*/
.home{
    display: flex;
    align-items: center;
}

/*h1*/
.univers{
     font-family: Arial, Helvetica, sans-serif;
     font-size:x-large;
     color: white;
}

/*image logo*/
#imagem_topo{
    width: 100px;
    height: 100px;
}

/*li class*/
.opcoes{
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

/*li class hover*/
.opcoes:hover{
border: rgba(198, 165, 230, 0.895) 1px solid;
background-color:rgba(213, 170, 255, 0.515);
border-radius: 3px;
padding-top: 5px;
padding-bottom: 5px;
cursor: pointer;
}

/*a*/
.estilo{
    text-decoration: none;
}

#menu_fixo{
    width: 99%;
    display: flex;
    background-color: rgb(105, 38, 176);
    height: 90px;
   /* border-radius: 0px;*/
    position: fixed;
}

/*inicio produto*/

#produto{
    display: flex;
    flex-direction:column;
}
/* DIV COM OS DOIS PRIMEIRO E O SEGUNDO PRODUTO*/
#produtos1{
       height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIV COM O TERCEIRO PRODUTO*/
#produtos2{
   
    height: 250px;
    display: flex;
   justify-content: center;
   
}

/* PRIMEIRO E SEGUNDO PRODUTO*/
.caixas1{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 500px;
    border: 1px black solid;
    border-radius: 10px;
    color: white;
    font-family: Georgia;
    font-size:smaller;
}


/* PRIMEIRO PRODUTO*/
#pessoal{
    background-image: url("./fenix.png");
    margin-right: 80px;
}

#texto_pessoal{
    margin-left: 20px;
}

#pessoal:hover{
    height: 190px;
    width: 490px;
    transition: 500ms;
}

/* SEGUNDO PRODUTO*/
#academico{
    background-image: url("./pegasus.png");
}

#texto_academico{
margin-left: 20px;
}

#academico:hover{
    height: 190px;
    width: 490px;
    transition: 500ms;
}

/* TERCEIRO PRODUTO*/
.caixas2{
    height: 200px;
    width: 500px;
    border: 1px black solid;
    color: white;
    font-family: Georgia;
    font-size:smaller;
    border-radius: 10px;
    background-image: url(./dracodraco.png);
}

#texto_empresarial{
    margin-left: 20px;
}

#empresarial:hover{
    height: 190px;
    width: 490px;
    transition: 500ms;
}


/*---------LOGIN--------*/
/*PARTE 1---------------------------------------------*/
body{
 /*  background-image:/* url(./img/fundotop.jpeg),*//* url(./5553605.jpg) ; */
    
    background-size: 100%;
    color: white;
   background-repeat: no-repeat, 
    
}

/*cor da parte de cima, cor de onde fica login e o logo*/
.informaçoes{
    background-color: rgba(27, 27, 109, 0.532);
    border: solid 1px rgb(184, 184, 184);
    border-radius: 5px ;
}

/*cor da segunda parte,parte onde fica o formulario,os input*/
.container{
    background-color: rgba(74, 8, 149, 0.495);
    border: solid 1px rgb(193, 193, 193);
    border-radius: 5px ;
    margin-top: 10px;
}

/*mexendpo no h1, no titulo LOGIN da parte de cima*/
.informaçoes h1{
    font-size: 35px;
    margin-left: 185px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*mexendo na section, onde tudo fica, mxendo na posiçao, tamanho*/
.login{
    max-width: 55%;
   margin-left: 350px;
}

/*mexendo no tamanho da imagem,logo*/
#img_login{
    max-width: 15%;
}

/*deixando um do lado do outro*/
#img_h1{
    display: flex;
}

/*estilizando os input*/
.container input{
   /* width: 650px;
    height: 40px;*/
    max-width: 90%;
    max-height: 40%;
    padding: 10px;
    border: solid 1px grey;
    border-radius: 5px ;
}

/*colocando as coisas em login*/
#formulario_login{
    
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
/*laabel do primeiro formulario,estilizaçao*/
#label_login{
    padding: 15px;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
/*texto do primeiro formulario*/
.container #h2_login{
   margin-left: 260px;
   font-size: 20px;
}
/*link do 1 formulario*/
#a_login{
    margin-left: 50px;
    color: white;
    
}

/*--------------------PARTE2-----------------*/

/*cor da div, do cabeçario*/
.cadastro{
    background-color: rgba(87, 11, 135, 0.434);
    border: solid 3px rgb(184, 184, 184);
    border-radius: 7px ;
}

/*cor do corpo*/
.cadastrar_1{
    background-color: rgba(96, 67, 162, 0.54);
    border: solid 1px rgb(193, 193, 193);
    border-radius: 5px ;
    margin-top: 10px;
}

/*mexendpo no h1, no titulo LOGIN da parte de cima*/
.cadastro h1{
    font-size: 35px;
    margin-left: 135px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*mexendo na section, onde tudo fica, mxendo na posiçao, tamanho*/
section.login_2{
    max-width: 55%;
   margin-left: 350px;
   
}

/*mexendo no tamanho da imagem,logo*/
#img_cadastro{
    max-width: 15%;
}

/*deixando um do lado do outro*/
#img_h2{
    display: flex;
}

/*estilizando os input*/
.cadastrar_1 input{
     max-width: 90%;
     max-height: 40%;
     padding: 10px;
     border: solid 1px grey;
     border-radius: 5px ;
 }

 /*deixando em colunas as informaçoes*/
#formulario_login_2{
    
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
/*label do segundo formulario*/
#label_login_2{
    padding: 15px;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
/*tamanho,cor enfim estilizando o botao,2 pagina*/
#botao_login{
   margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 50%;
    padding: 10px;
    color: white;
    background-color:  rgb(123, 113, 213);
    border: solid 1px rgb(184, 184, 184);
    border-radius: 7px ;
}

/*mudando a cor quando passa, 2 pagina*/
#botao_login:hover{
    background-color: rgb(89, 83, 200);
}

/*mexendo no botao,estilizando, 1 pagina*/
#botao_login_2{
    margin-left: 220px;
     margin-top: 30px;
     margin-bottom: 20px;
     max-width: 35%;
     padding: 10px;
     color: black;
     background-color: rgb(218, 177, 255);
     border: solid 1px rgb(184, 184, 184);
     border-radius: 7px ;
 }

/*mudando a cor quando passa,1 pagina*/
#botao_login_2:hover{
    background-color: rgb(165, 92, 221);
}

#icon{
    max-width: 100%;
}