/*---------------------------------------------------------*/

/* INICIO DO FOOTER*/


/* FOOTER*/
footer {
    background-color: rgba(0, 0, 0, 0.505);
    /* cor de fundo do footer*/
    height: 150px;
    /* tamanho (altura) do footer*/
    margin-top: 100px;
    /*margem com relação ao objeto de cima*/
}

/* SECTION DO FOTTER*/
#rodape {
    display: flex;
    /* esses dois topicos servem para organizar todos os itens dentro do footer em minha, um do lado do outro */
    flex-direction: row;
}

/*----------------------------*/

/* DIV DA FOTO */
#logo_footer {
    width: 150px;
    /*tamanho da div da foto da foto*/
    margin-left: 70px;
    /* margem com relação ao lado esquerdo*/
    margin-top: 27px;
    /* margem  com relação ao topo do footer*/
}

/*  FOTO*/
#logo_do_footer {
    height: 95px;
    /*tamanho da foto*/

}

/*----------------------------*/

/* DIV DA PARTE CONTATO*/
#contato {
    margin-left: 30px;
    /*margem com relação a div da logo*/
    width: 300px;
    /*tamanho dessa div*/
    border-left: 1px white solid;
    /*borda (linha branca) do lado esquerdo da div tamanho e cor dela*/
    padding-left: 40px;
    /*distancia dentro da div com relação a borda*/
}

/* INFORMAÇÕES DENTRO DO CONTATO*/
#contato p {
    margin-top: -10px;
    /* distancia entre cada linha*/
}

/*----------------------------*/

/* DIV GERAL DAS REDES*/
#redes {
    border-left: 1px solid white;
    /* borda (linha do lado esquerdo) tamanho e cor dela*/
    padding-left: 15px;
}

/* H1 DAS REDES*/
#texto {
    padding-left: 80px;
    text-align: center;
    /*coloca o h1 no centro da div*/
}


/* DIV COM AS IMAGENS DAS REDES*/
#imagens_footer {
    display: flex;
    /* coloca as imagens uma do lado da outra */
    padding-left: 45px;

}

/*CADA IMAGEM DAS REDES */
#img_redes {
    width: 40px;
    /*tamanho das imagens(largura)*/
    height: 40px;
    /*tamanho das imagens(altura)*/
}

/* FIGURE COM AS IMAGENS */
.img_contato {
    margin-right: 5px;
    /*(esta dando o espaço entre as imagens)*/
}

/*---------------------------*/

/* DIV RECLAME AQUI */
#reclame_aqui {
    margin-left: 100px;
    /*margem com relação a outra div*/
    border-left: 1px white solid;
    /*borda do lado direito da div (linha) cor branca e grossura*/
    padding-left: 110px;
    /*distancia dentro da div com relação a borda*/
    padding-top: 10px;
}

/* BOTAO DO FOOTER*/
#botao_footer {
    border-radius: 2px;
    /*deixa o botao com as bordas curvadas*/
    background-color: purple;
    /*cor do botao*/
}

/*BOTAO DO FOOTER HOVER*/
#botao_footer:hover {
    opacity: 0.8;
    /*deixa o botao meio tranparente quando passa o mouse por cima*/
}