#produto {
    display: flex;
    flex-direction: column;
}

/* DIV COM OS DOIS PRIMEIRO E O SEGUNDO PRODUTO*/
#produtos1 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DIV COM O TERCEIRO PRODUTO*/
#produtos2 {

    height: 300px;
    display: flex;
    justify-content: center;

}

/* PRIMEIRO E SEGUNDO PRODUTO*/
.caixas1 {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 500px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 10px;
    color: white;
    font-family: Georgia;
    font-size: smaller;
    text-shadow:
        -1px -1px 0px #ff8d30,
        -1px 1px 0px #ff8d30,
        1px -1px 0px #ff8d30,
        1px 0px 0px #ff8d30;
    box-shadow: 8px 7px 5px #3b3b3b;
}


/* PRIMEIRO PRODUTO*/
#pessoal {
    background-image: url("./fenix.png");
    margin-right: 80px;
}

#texto_pessoal {
    margin-left: 20px;
}

#pessoal:hover {
    box-shadow: 8px 7px 5px #4f4f4f;
    border: 1px solid #382c22;
}

/* SEGUNDO PRODUTO*/
#academico {
    background-image: url("./pegasus.png");
}

#texto_academico {
    margin-left: 20px;
    color: white;
    text-shadow:
        -1px -1px 0px #5d57ff,
        -1px 1px 0px #5d57ff,
        1px -1px 0px #5d57ff,
        1px 0px 0px #5d57ff;

}

#academico:hover {
    box-shadow: 8px 7px 5px #4f4f4f;
    border: 1px solid #272e4e;
}

/* TERCEIRO PRODUTO*/
.caixas2 {
    height: 200px;
    width: 500px;
    border: 1px black solid;
    color: white;
    font-family: Georgia;
    font-size: smaller;
    border-radius: 10px;
    background-image: url(./dracodraco.png);
    text-shadow:
        -1px -1px 0px #078300,
        -1px 1px 0px #078300,
        1px -1px 0px #078300,
        1px 0px 0px #078300;
    box-shadow: 8px 7px 5px #3b3b3b;
}

#texto_empresarial {
    margin-left: 20px;
}

#empresarial:hover {
    box-shadow: 8px 7px 5px #4f4f4f;
    border: 1px solid #1e4d1c;
}