/*-------início do body, texto na página principal home------------*/


/*h1 class top_1 texto top 1 das galáxias no começo da página*/
.top_1 {
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0px #41048b,
        -1px 1px 0px #41048b,
        1px -1px 0px #41048b,
        1px 0px 0px #41048b;
}

/* parágrafo dos textos, apresentação das frases chamativas no home, tamanho, cor, espaçamento*/
.texto_sobre {
    font-size: 30px;
    color: rgb(247, 237, 255);
    padding-top: 10px;
    text-align: center;
    text-shadow:
        -1px -1px 0px #41048b,
        -1px 1px 0px #41048b,
        1px -1px 0px #41048b,
        1px 0px 0px #41048b;
}

/*div class texto correto com o h1 e os p dentro, é a parte do home, onde colocamos o texto mais para baixo*/
.texto_correto {
    padding-top: 200px;
}

/*------------------início section class sobre-----------------------*/

#home {
    text-align: center;
}


/*print da lista de tarefas, vamos colocar uma imagem de fundo e a print por cima, arrumar depois que estivermos com a lista pronta, apenas arrumamos o tamanho e espaçamento da imagem por enquanto*/
#img_principal {
    width: 1000px;
    height: 600px;
    box-shadow: 7px 11px 10px #636363;
}

/*section class sobre, engloba o main e os textos que estão dentro, arrumamos a posição dela no site, cor de fundo, e adicionamos o display flex para deixar todos os itens dentro da section lado a lado*/
.sobre {
    background-color: rgba(45, 11, 78, 0.432);
    display: flex;
    max-width: 1600px;
    margin-top: 100px;
}


.somos {
    padding-top: 50px;
}

/*h1 prioridades, texto com as nossas prioridades, espaçamento e tamanho da fonte, é o título*/
.prioridades_2 {
    padding-left: 130px;
    font-size: 30px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*p prioridade, é o texto que fica embaixo do título, arrumamos espaçamento e tamanho da fonte*/
.prioridades_3 {
    padding-left: 90px;
    font-size: 20px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*h1 encontrar-se, título, tamanho da fonte*/
.encontrar {
    font-size: 30px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*p encontrar, é o texto que fica embaixo do título*/
.separar_encontrar {
    font-size: 20px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*h1 avisos e lembretes, título*/
.avisos {
    font-size: 30px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*p avisos e lembretes, texto embaixo do título*/

.lembretes {
    font-size: 20px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*tamanho da imagem logo, arrumamos o espaçamento, é a imagem qe fica no centro do sobre, entre os textos*/
#imagem_sobre {
    height: 500px;
    width: 500px;
    margin-left: -140px;
    margin-right: -70px;
}

/*aside dos p e h1 da esquerda, engloba os dois parágrafos de textos, arrumamos o espaçamento*/
.texto_esquerda {
    padding-top: 50px;
    padding-right: 70px;
}

/*div dos p e h1 da direita, engloba dois parágrafos de texto, espaçamento*/
.texto_top_2 {
    padding-top: 50px;
}

/*itens dentro do aside pai, é o main*/
.text {
    display: flex;
    padding-top: 50px;
}


/*quem somos h1, é o título*/
.quem_somos {
    padding-left: 130px;
    font-size: 30px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*quem somos p, é o texto embaixo do título*/
.quem_somos_2 {
    padding-left: 90px;
    font-size: 20px;
    color: white;
    text-shadow:
        -1px -1px 0px #5000b1,
        -1px 1px 0px #5000b1,
        1px -1px 0px #5000b1,
        1px 0px 0px #5000b1;
}

/*aside que contém os textos da direita da tela*/
.textos_direita {
    margin-right: 80px;
}